RewriteEngine On


# 404 page redrecer

ErrorDocument 404 https://shiftingway.com/404-error
Options All -Indexes

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]